
#main{
  background-color: #aec9a4;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


@font-face {
  font-family: "bree";
  src: url(../public/assets/bree.ttf);
}

.theme{
  background-color: rgb(255, 255, 255);
  font-weight: lighter;
  font-family: "bree";
  padding: 20px;
  color: #13133a;
}

#background2 {
  background-color:whitesmoke;
}

#notFound {
  font-style: italic;
  font-size: xx-small;
  color: rgb(98, 98, 99);
}

#phonetics {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-small;
  color: rgb(98, 98, 99);
  text-align: center;
  margin-bottom: 1%;
}

#audio {
  width: 25%;
  align-content: center;
}

#title{
  font-family: "bree";
  color: aliceblue;
  text-shadow: 0px 4px 12px black;
}

#word{
  font-family: "bree";
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.307);
}

#examples{
  font-style: italic;
  color: #655977;
  font-weight: lighter;
  margin-left: 1%;
}

#definitions {
  font-weight: lighter;
}

#synonyms {
  color: #d4b6da;
}

#button {
  background-color: #d1c8ac;
  font-family: "bree";
  cursor: pointer;
}

#partOfSpeech {
  color: #d4b6da;
}

.li{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20% ;
}

.extra{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (min-width: 300px) and (max-width: 575px) {
  .li{
      display: grid;
      grid-template-columns: auto auto;
  }
  input{
    width: 50%;
  }
}
@media (min-width: 576px) and (max-width: 690px) {
  .li{
      display: grid;
      grid-template-columns: auto auto auto;
  }
}